*{
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

.container{
    background-color: #ffffff;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container h1{
    color: #333;
}
.container p{
    color: #666;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: 18px;
}

.weather_container{
    height: 250px;
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.temp{
    font-size: 48px;
    font-weight: bold;
}
.time_location div{
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-top: -40px;
}
.time_location span{
    font-size: 18px;
    color: #666;
}
.weather_condition p{
    font-size: 16px;
    margin-top: -35px;

}
input[type="text"]{
    width: 80%;
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="text"]::placeholder{
    color: #aaa;
    font-size: 16px;
}
input[type="submit"]{
    padding: 15px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #0056b3;
}